In [1]:
import pandas as pd

In [2]:
loco_ids=pd.read_excel(r"E:\durga79\PROJECTS\BACT_TEST_PROJECT\prjct_filedata.xlsx")
loco_ids

,customer_name,contract_model_name,bre_flag,fleet_name,riad_number,locomotive_id,locomotive_model_description,locomotive_model_code,locomotive_type_code,type_flag,...,finance_contract_end_date,tech_modeling_start_date,tech_modeling_end_date,gets_finance_contct_d_key,gets_ms_srv_cntrct_d_key,mwhrs_loco_avg_month,miles_loco_avg_month,mwhrs_fleet_avg_month,miles_fleet_avg_month,fiscal_month
0,NaN,NaN,NaN,NaN,NaN,100001,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201602
1,NaN,NaN,NaN,NaN,NaN,100002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202112
2,NaN,NaN,NaN,NaN,NaN,100003,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202112
3,NaN,NaN,NaN,NaN,NaN,100004,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202112
4,NaN,NaN,NaN,NaN,NaN,100005,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,NaN,NaN,NaN,NaN,NaN,100097,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202106
97,NaN,NaN,NaN,NaN,NaN,100098,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202106
98,NaN,NaN,NaN,NaN,NaN,100099,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202106
99,NaN,NaN,NaN,NaN,NaN,100100,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202106
100,NaN,NaN,NaN,NaN,NaN,100101,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202106

In [3]:
loco_ids.columns

Index(['customer_name', 'contract_model_name', 'bre_flag', 'fleet_name',
       'riad_number', 'locomotive_id', 'locomotive_model_description',
       'locomotive_model_code', 'locomotive_type_code', 'type_flag', 'status',
       'status_year', 'status_month', 'in_service_date',
       'service_contract_name', 'finance_contract_name',
       'loco_contract_start_date', 'loco_contract_end_date',
       'service_contract_start_date', 'service_contract_end_date',
       'finance_contract_start_date', 'finance_contract_end_date',
       'tech_modeling_start_date', 'tech_modeling_end_date',
       'gets_finance_contct_d_key', 'gets_ms_srv_cntrct_d_key',
       'mwhrs_loco_avg_month', 'miles_loco_avg_month', 'mwhrs_fleet_avg_month',
       'miles_fleet_avg_month', 'fiscal_month'],
      dtype='object')

In [4]:
loco_ids.shape

(101, 31)

In [5]:
loco_ids["total_population"]=loco_ids.locomotive_id.unique()

In [6]:
loco_ids

,customer_name,contract_model_name,bre_flag,fleet_name,riad_number,locomotive_id,locomotive_model_description,locomotive_model_code,locomotive_type_code,type_flag,...,tech_modeling_start_date,tech_modeling_end_date,gets_finance_contct_d_key,gets_ms_srv_cntrct_d_key,mwhrs_loco_avg_month,miles_loco_avg_month,mwhrs_fleet_avg_month,miles_fleet_avg_month,fiscal_month,total_population
0,NaN,NaN,NaN,NaN,NaN,100001,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201602,100001
1,NaN,NaN,NaN,NaN,NaN,100002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202112,100002
2,NaN,NaN,NaN,NaN,NaN,100003,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202112,100003
3,NaN,NaN,NaN,NaN,NaN,100004,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202112,100004
4,NaN,NaN,NaN,NaN,NaN,100005,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202112,100005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,NaN,NaN,NaN,NaN,NaN,100097,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202106,100097
97,NaN,NaN,NaN,NaN,NaN,100098,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202106,100098
98,NaN,NaN,NaN,NaN,NaN,100099,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202106,100099
99,NaN,NaN,NaN,NaN,NaN,100100,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202106,100100
100,NaN,NaN,NaN,NaN,NaN,100101,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202106,100101

In [7]:
loco_ids_null=loco_ids.fillna(0)

In [8]:
loco_ids_null

,customer_name,contract_model_name,bre_flag,fleet_name,riad_number,locomotive_id,locomotive_model_description,locomotive_model_code,locomotive_type_code,type_flag,...,tech_modeling_start_date,tech_modeling_end_date,gets_finance_contct_d_key,gets_ms_srv_cntrct_d_key,mwhrs_loco_avg_month,miles_loco_avg_month,mwhrs_fleet_avg_month,miles_fleet_avg_month,fiscal_month,total_population
0,0.0,0.0,0.0,0.0,0.0,100001,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201602,100001
1,0.0,0.0,0.0,0.0,0.0,100002,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202112,100002
2,0.0,0.0,0.0,0.0,0.0,100003,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202112,100003
3,0.0,0.0,0.0,0.0,0.0,100004,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202112,100004
4,0.0,0.0,0.0,0.0,0.0,100005,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202112,100005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,0.0,0.0,0.0,0.0,0.0,100097,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202106,100097
97,0.0,0.0,0.0,0.0,0.0,100098,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202106,100098
98,0.0,0.0,0.0,0.0,0.0,100099,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202106,100099
99,0.0,0.0,0.0,0.0,0.0,100100,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202106,100100
100,0.0,0.0,0.0,0.0,0.0,100101,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202106,100101

In [9]:
loco_ids_fil=loco_ids_null[loco_ids_null["in_service_date"]!=0]

In [10]:
loco_ids_fil

,customer_name,contract_model_name,bre_flag,fleet_name,riad_number,locomotive_id,locomotive_model_description,locomotive_model_code,locomotive_type_code,type_flag,...,tech_modeling_start_date,tech_modeling_end_date,gets_finance_contct_d_key,gets_ms_srv_cntrct_d_key,mwhrs_loco_avg_month,miles_loco_avg_month,mwhrs_fleet_avg_month,miles_fleet_avg_month,fiscal_month,total_population
0,0.0,0.0,0.0,0.0,0.0,100001,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201602,100001
1,0.0,0.0,0.0,0.0,0.0,100002,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202112,100002
2,0.0,0.0,0.0,0.0,0.0,100003,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202112,100003
3,0.0,0.0,0.0,0.0,0.0,100004,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202112,100004
4,0.0,0.0,0.0,0.0,0.0,100005,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202112,100005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,0.0,0.0,0.0,0.0,0.0,100085,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202106,100085
85,0.0,0.0,0.0,0.0,0.0,100086,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202106,100086
86,0.0,0.0,0.0,0.0,0.0,100087,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202106,100087
87,0.0,0.0,0.0,0.0,0.0,100088,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202106,100088
88,0.0,0.0,0.0,0.0,0.0,100089,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202106,100089

In [11]:
loco_ids_fil.in_service_date.unique()

array(['7/13/2000', '9/13/2000', '11/13/2000', '12/13/2000'], dtype=object)

In [13]:
loco_ids_fil["age_data"]=loco_ids_fil.locomotive_id.unique()

C:\Users\hp\AppData\Local\Temp\ipykernel_2792\2127718870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loco_ids_fil["age_data"]=loco_ids_fil.locomotive_id.unique()

In [14]:
loco_ids_fil

,customer_name,contract_model_name,bre_flag,fleet_name,riad_number,locomotive_id,locomotive_model_description,locomotive_model_code,locomotive_type_code,type_flag,...,tech_modeling_end_date,gets_finance_contct_d_key,gets_ms_srv_cntrct_d_key,mwhrs_loco_avg_month,miles_loco_avg_month,mwhrs_fleet_avg_month,miles_fleet_avg_month,fiscal_month,total_population,age_data
0,0.0,0.0,0.0,0.0,0.0,100001,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201602,100001,100001
1,0.0,0.0,0.0,0.0,0.0,100002,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202112,100002,100002
2,0.0,0.0,0.0,0.0,0.0,100003,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202112,100003,100003
3,0.0,0.0,0.0,0.0,0.0,100004,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202112,100004,100004
4,0.0,0.0,0.0,0.0,0.0,100005,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202112,100005,100005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,0.0,0.0,0.0,0.0,0.0,100085,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202106,100085,100085
85,0.0,0.0,0.0,0.0,0.0,100086,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202106,100086,100086
86,0.0,0.0,0.0,0.0,0.0,100087,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202106,100087,100087
87,0.0,0.0,0.0,0.0,0.0,100088,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202106,100088,100088
88,0.0,0.0,0.0,0.0,0.0,100089,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202106,100089,100089

In [24]:
loco_ids_fil['age_data_percentage']=(loco_ids_fil["age_data"]/loco_ids["total_population"])*100

C:\Users\hp\AppData\Local\Temp\ipykernel_2792\2101241307.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loco_ids_fil['age_data_percentage']=(loco_ids_fil["age_data"]/loco_ids["total_population"])*100

In [25]:
loco_ids_fil

,customer_name,contract_model_name,bre_flag,fleet_name,riad_number,locomotive_id,locomotive_model_description,locomotive_model_code,locomotive_type_code,type_flag,...,gets_finance_contct_d_key,gets_ms_srv_cntrct_d_key,mwhrs_loco_avg_month,miles_loco_avg_month,mwhrs_fleet_avg_month,miles_fleet_avg_month,fiscal_month,total_population,age_data,age_data_percentage
0,0.0,0.0,0.0,0.0,0.0,100001,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,201602,100001,100001,100.0
1,0.0,0.0,0.0,0.0,0.0,100002,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,202112,100002,100002,100.0
2,0.0,0.0,0.0,0.0,0.0,100003,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,202112,100003,100003,100.0
3,0.0,0.0,0.0,0.0,0.0,100004,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,202112,100004,100004,100.0
4,0.0,0.0,0.0,0.0,0.0,100005,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,202112,100005,100005,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,0.0,0.0,0.0,0.0,0.0,100085,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,202106,100085,100085,100.0
85,0.0,0.0,0.0,0.0,0.0,100086,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,202106,100086,100086,100.0
86,0.0,0.0,0.0,0.0,0.0,100087,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,202106,100087,100087,100.0
87,0.0,0.0,0.0,0.0,0.0,100088,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,202106,100088,100088,100.0
88,0.0,0.0,0.0,0.0,0.0,100089,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,202106,100089,100089,100.0